::-webkit-scrollbar {
  width: 0;
}

textarea {
  background: transparent;
  border: none;
  width: 100%;
  position: absolute;
  bottom: var(--chakra-space-4);
  border-style: hidden;
  outline: none;
  resize: none !important;
}

.full-height {
  height: 100vh;
  height: -webkit-fill-available;
  height: 100dvh;
  transition: all 150ms ease;
}

.chat-bg-pattern {
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(#fbfbfb 1.6px, transparent 1.6px),
    linear-gradient(to right, #fbfbfb 1.6px, #ffffff 1.6px);
  background-size: 28px 28px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.shake {
  position: relative;
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.shake::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00000008;
  border-radius: 0.75rem;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
